<html>
<head>
    <title>Мои города</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
    <h1>Список городов:</h1>
    <h3>Добавить:</h3>
    <form>
        <div>
            <input type="text" name="town" id="town">
            <label for="town">Название</label>
        </div>
        <div>
            <input type="date" name="visit_date" id="visit_date">
            <label for="visit_date">Дата</label>
        </div>
        <button onClick="AddTown()">Добавить</button>
    </form>
    <button style='color: red'  onClick="DeleteAll()">Очистить</button>
    <ul>
        {% for city in cities_list %}
        <li>
            <div>
                <div>{{ city['town'] }}</div>
                <div>{{ city['visit_date'] }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>